* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
}

.card {
    width: 370px;
    height: 502px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-right: 35px;
}

.card-tile {
    position: absolute;
    top: 18px;
    left: 0;
    background: #CE3535;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    padding: 9px 20px 7px;
    margin-left: 5px;
}

.new{
    background: #222222;
}

.card-image img {
    width: 100%;
    object-fit: cover;
}

.card-title {
    color: #222222;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    text-decoration: none;
    margin-top: 40px;
    width: 100%;
}

.card-title:hover {
    text-decoration: underline;
}


.card-price-sale {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
    margin: 20px 0 10px;
    min-height: 24px;
}

.card-price-original {
    color: #CE3535;
    font-weight: 900;
    font-size: 24px;
    
}

.card-price {
    width: 100%;
    text-align: right;
}

.card-btn {
    background: #E20000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.card-btn:hover {
    text-decoration: underline;
}


.card-btn-img {
    margin-left: 10px;

}








